{% load static %}
<link rel="stylesheet" href="{% static 'css/password_list.css' %}">


<a class="create" href='{% url "ol" %}'>Parol yaratish</a>
<a class="logout_a" href='{% url "logout" %}'>Chiqish</a>
<div class="contenr">
  {% block content %}
  
  <form class="search" method="GET">
    <p class="p">Qidiruv: <input value="{{ q }}" name="q" type="{{ passwords.search }}" placeholder="Veb sayt nomini kiriting"><button class="button_search" type="submit" >Qidirish</button></p>
    
  </form>
  
  <h2 class="h2">Parollaringiz</h2>
    
  {% for natija in natijalar %}
    <ul class="uls">Veb sayt: {{ natija.veb_sayt }}</ul>
    <ul class="uls">Foydalanuvchi nomi: {{ natija.foydalanuvchi_nomi }}</ul>
    <ul class="uls">Parol: {{ natija.parol }}</ul><br>
  {% endfor %}
    
    
    {% endblock %}

</div>