<!-- password_form.html -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/password_form.css' %}">

<a class='contenr_a' href='{% url "password_list" %}'>Mening parollarim</a>
<a class='logout_a' href='{% url "logout" %}'>Chiqish</a>
<div class='contenr'>
  <form method="post">
    <h1 class='contenr_h1'>{% if form.instance.pk %}Yangilash{% else %}Yangi{% endif %} Parol kiriting</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Saqlash</button><br><br>
  </form>
</div>

