/* password_list.css */
/* Bu CSS fayli HTML fayli bilan bog'lanadi */


.contenr {
  background-color: #f9f9f9;
  padding: 20px 40px;
  margin: 0px auto;
  max-width: 400px;
}
.p input {
  margin: 0 25px 0 0 ;
  width: 50%;
  padding: 12px 20px; 
  margin: 0px 25px 0 0 ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15px;
} 

/* Umumiy stil */
body {
  font-family: Arial, sans-serif;
}

/* Header stil */
h2 {
  font-size: 24px;
  color: #333;
}

/* A elementlariga stil berish */
a {
  text-decoration: none;
  color: #007BFF;
}

/* Create tugmasi */
.create {
  display: inline-block;
  margin: 0 0 0 1050px;
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Izlash formasining stilini belgilash */
.search {
  margin: 10px 0;
}

/* Izlash tugmasi */
.button_search {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}

/* Natijalar ro'yxati */
.uls {
  list-style: none;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

/* Logout havolasi */
.logout_a {
  display: inline-block;
  margin: 10px 0 0 45px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
